/**
 * Place your custom CSS styles here.
 **/

.fullwindow-video {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
}

.no-overflow {
  overflow: hidden;
}
#body-block .tabs > li > label h2 {
  font-size: 13px;
}

#recently-added-channel-select {
  margin: 0 auto;
  padding-left:45%;
  width: 90%;
  float: left;
}
#refresh_videos i {
  cursor: pointer;
  margin-top: 0px;
  line-height: 32px;
  font-size: 32px;

}
#refresh-comments {
  cursor: pointer;
}


.spin-custom {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
