<select id="recently-added-channel-select" class="form-control">
  <option value="all" class="sel_all">All</option>
  <option value="rooster_teeth" class="sel_rooster_teeth">Rooster Teeth</option>
  <option value="achievement_hunter" class="sel_achievement_hunter">Achievement Hunter</option>
  <option value="funhaus" class="sel_funhaus">Funhaus</option>
  <option value="screwattack" class="sel_screwattack">ScrewAttack</option>
  <option value="game_attack" class="sel_game_attack">Game Attack</option>
  <option value="the_know" class="sel_the_know">The Know</option>
  <option value="cow_chop" class="sel_cow_chop">Cow Chop</option>
</select>
<a id="refresh_videos">&nbsp;<i class="fa fa-refresh"></i></a>
