<li>
	<a href="<%= link %>">
	    <div class="block-container">
	        <div class="image-container">
	            <img src="<%= image %>">
	        </div>
	        <div class="episode-action-bar">
		        <div class="watch-status-container">
		        </div>
	            <p class="timestamp"><i class="icon ion-play"></i> <%= length %></p>
	        </div>
	    </div>
	    <p class="name"><%= title %></p>
	</a>
	<p class="post-stamp"><%= postedString %></p>
</li>
